.meal-search-container .search-tab-wrapper {
    display: flex;
    width: 100%;
    border: 1px solid var(--red500);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 16px;
    cursor: pointer;
}

.meal-search-container .search-tab-wrapper .tab-button {
    flex: 1;
    text-align: center;
    padding: clamp(7.9px, 2.8vw, 13.5px) 0;
    font-size: clamp(12px, 4vw, 20px);
    font-weight: 500;
    color: var(--red500);
    background-color: #fff;
    transition: all 0.2s ease;
}

.meal-search-container .search-tab-wrapper .tab-button.active {
    background-color: var(--red500);
    color: white;
}

.meal-search-container .meal-tab-content .meal-search-list .search-tool-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
}

.meal-search-container .meal-tab-content .meal-search-list .search-tool-wrapper .search-tool {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: clamp(10.8px, 1.6vw + 6px, 14px) clamp(17.8px, 5.6vw, 29px);
    border-radius: 50px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    gap: clamp(7.6px, 3.2vw + 8.8px, 14px);
    cursor: pointer;
}

.meal-search-container .meal-tab-content .meal-search-list .search-tool-wrapper .search-tool .label {
    display: flex;
    white-space: nowrap;
}

.meal-search-container .meal-tab-content .meal-search-list .search-tool-wrapper .search-tool .label img {
    width: clamp(17.6px, 3.2vw + 8px, 24px);

}

.meal-search-container .meal-tab-content .meal-search-list .search-tool-wrapper .search-tool input {
    width: 100%;
    font-size: 16px;
    color: var(--black100);
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

.meal-search-container .meal-tab-content .meal-search-list .search-tool-wrapper .search-tool:focus-within {
    border-color: var(--gray300);
}

.meal-item {
    display: flex;
    flex-direction: row;
    padding: clamp(11.24px, 3.68vw + 0.2px, 18.6px) clamp(6.44px, 2.08vw + 0.2px, 10.6px);
    border-bottom: 1px solid #eee;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.meal-item:last-child {
    margin-bottom: clamp(107.2px, 3.04vw + 16px, 168px);

}

.meal-item.active {
    background-color: #fff7f6;
  }

/* .meal-item:hover {
    background-color: #fff7f6;
} */

.meal-type {
    font-size: clamp(10.8px, 1.6vw + 6px, 14px);
    margin-bottom: clamp(4.8px, 1.6vw, 8px);
    display: inline-block;
    font-weight: 300;
    border: 1px solid currentColor;
    padding: 2px 6px;
    border-radius: 12px;
    background: white;
}


.type-ingredient {
    color: #2764E0;
}

.type-processed {
    color: #F05757;
}

.type-cooked {
    color: #B55AE2;
}

.type-cooked {
    color: #FFB56F;
}

.meal-name {
    font-weight: 300;
    font-size: clamp(11.6px, 3.2vw + 2px, 18px);
    margin-bottom: clamp(2.4px, 0.8vw, 4px);

}

.meal-detail {
    font-size: clamp(9.6px, 3.2vw, 16px);
    font-weight: 300;
    color: var(--gray400);
}


.meal-meta {
    display: flex;
    white-space: nowrap;
    gap: 2px;
    align-items: center;
}


.meal-meta .weight {
    font-size: clamp(11.24px, 3.68vw + 0.2px, 18.6px);
    font-weight: 400;
    font-size: clamp(9.6px, 3.2vw, 16px);
    color: var(--gray300);
}

.meal-meta .divide {
    font-size: clamp(11.24px, 3.68vw + 0.2px, 18.6px);
    font-weight: 400;
    font-size: clamp(9.6px, 3.2vw, 16px);
    color: var(--gray300);
}

.meal-meta .kcal {
    font-size: clamp(11.24px, 3.68vw + 0.2px, 18.6px);
    font-weight: 500;
    color: var(--gray300);
}