#homeMealRegist {
    margin-bottom: clamp(74px, 2.64vw + 65.8px, 95px);
}

#homeMealRegist .home-meal-bar-container {
    display: flex;
    flex-direction: column;
    gap: clamp(4.8px, 1.6vw, 8px);
}

#homeMealRegist .home-meal-bar-container .home-meal-bar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#homeMealRegist .home-meal-bar-container .home-meal-bar-wrapper .meal-title {
    font-size: clamp(12px, 4vw, 20px);
    font-weight: 300;
    color: var(--black100);
}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(24px, 8vw, 40px);

}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper .bar-wrapper {
    width: 100%;
    height: clamp(8.6px, 3.2vw - 1px, 15px);
    position: relative;
}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper .bar-wrapper .bar-back {
    width: 100%;
    height: clamp(8.6px, 3.2vw - 1px, 15px);
    position: absolute;
    border-radius: 10px;
    background-color: #F0F0F0;
}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper .bar-wrapper .bar-front {
    width: 0%;
    height: clamp(8.6px, 3.2vw - 1px, 15px);
    position: absolute;
    border-radius: 10px;
}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper .text-wrapper {
    display: flex;
    width: clamp(73px, 17.7vw, 96px);
    white-space: nowrap;
    align-items: center;
    gap: 2px;
    flex-shrink: 0; 
    justify-content: flex-end;
}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper .text-wrapper .consumed {
    font-size: clamp(12.8px, 4.27vw, 21.33px);
    font-weight: 500;
}

#homeMealRegist .home-meal-bar-container .meal-bar-wrapper .text-wrapper .target, .divide {
    font-size: clamp(8.8px, 2.93vw, 14.67px);
    font-weight: 300;
    color: var(--gray300);
}

#homeMealRegist .cpf-kcal-left-message-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: clamp(17.8px, 7.2vw, 36px);
  }
  
  #homeMealRegist .cpf-kcal-left-message-wrapper .cpf-kcal-left-message {
    font-size: clamp(10.4px, 3.465vw, 17.33px);
    font-weight: 300;
    position: relative;
    padding: 10px 17px;
    border-radius: 17px;
    background-color: var(--white300); /* 원하는 배경 색상 */
    color: var(--black100); /* 텍스트 색상 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  #homeMealRegist .cpf-kcal-left-message-wrapper span {
    font-size: clamp(16.8px, 4.8vw, 20px);
    font-weight: 500;
    color: var(--red500);
  }

  #homeMealRegist .cpf-kcal-left-message-wrapper .over {
    color: var(--red800);
  }

  #homeMealRegist .cpf-kcal-left-message-wrapper .cpf-kcal-tail-svg {
    z-index: 10;
    position: absolute;
    bottom: -26px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.11));
  }

  #homeMealRegist .home-meal-regist-container .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: clamp(167.4px, 56.8vw - 3px, 281px);
    background-color: #F0F0F0;
    border-radius: 8px;
    cursor: pointer;
    aspect-ratio: 1 / 1; /* 정사각형 비율 유지, 원하는 비율로 수정 가능 */
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  #homeMealRegist .home-meal-regist-container .image-container .preview-image {
    width: clamp(22px, 8vw - 8px, 32px);
  }

  .image-container .new-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-container .new-image {
    display: none; /* 처음에는 숨김 */
  }

.image-container .preview-image {
    z-index: 1;
  }