html, body {
    height: 100%;
    margin: 0;
}

#loginPage {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #f8f8f8;
}

#loginPage .content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: #FFFDFD;
    z-index: 1;
}

#loginPage .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(193deg, #E67771 0%, #FEB5C8 101.31%), #FFF;
    height: 100%;
}

#loginPage .login-container .logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(15px, 7vw, 35px);
}

#loginPage .login-container .logo-wrapper .logo-hte{
    width: 33.4vw;
    max-width: 167px;
    height: auto;
}

#loginPage .login-container .logo-wrapper .logo-nextgym {
    width: 22.6vw;
    max-width: 113px;
    height: auto;
}