html,
body {
    height: 100%;
    margin: 0;
}

#loginPage {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #f8f8f8;
}

#loginPage .content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: #FFFDFD;
    z-index: 1;
}

#loginPage .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(180deg, #EB8585 0%, #FEB5C8 101.31%), #FFF; */
    background-color: #ED7777;
    padding: 0 16px;
    height: 100%;
}

#loginPage .login-container .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(15px, 7vw, 35px);
    margin-bottom: clamp(20px, 24vw, 100px);
}

#loginPage .login-container .logo-wrapper .logo-hte {
    width: 33.4vw;
    max-width: 167px;
    height: auto;
}

#loginPage .login-container .logo-wrapper .logo-nextgym {
    width: 22.6vw;
    max-width: 113px;
    height: auto;
}

/* 로그인 버튼 영역 */

#loginPage #SSO-LOGIN {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: fixed;
    bottom: 20px;
    box-sizing: border-box;
    padding: 0 16px;
    position: absolute;
}

#loginPage #SSO-LOGIN .SSO-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    gap: 16px;
    border-radius: 6px;
}

#loginPage #SSO-LOGIN .SSO-button.kakao {
    cursor: pointer;
    background-color: #FEE500;
}

#loginPage #SSO-LOGIN .SSO-button.naver {
    cursor: pointer;
    background-color: #03C75A;
}

#loginPage #SSO-LOGIN .SSO-button.apple {
    cursor: pointer;
    background-color: #050708;
}

#loginPage #SSO-LOGIN .SSO-button .sso-logo {
    display: flex;
}

#loginPage #SSO-LOGIN .SSO-button .sso-logo .kakao {
    width: 18px;
}

#loginPage #SSO-LOGIN .SSO-button .sso-logo .naver {
    width: 16px;
}

#loginPage #SSO-LOGIN .SSO-button .sso-logo .apple {
    width: 16px;
}

#loginPage #SSO-LOGIN .SSO-button .sso-name.kakao{
    font-size: 18px;
    font-weight: 500;
    color: var(--black100);
}

#loginPage #SSO-LOGIN .SSO-button .sso-name.naver{
    font-size: 18px;
    font-weight: 500;
    color: var(--white300);
}

#loginPage #SSO-LOGIN .SSO-button .sso-name.apple{
    font-size: 18px;
    font-weight: 500;
    color: var(--white300);
}

@media (min-width: 500px) {
    #loginPage #SSO-LOGIN {
        max-width: 500px;
        margin: 0 auto !important;
    }
}