@media (min-width: 500px) {
    #signupCompletePage #signupComplete {
        max-width: 500px;
        margin: 0 auto !important;
    }
}

#signupCompletePage {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #f8f8f8;
}

#signupComplete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #FFF9F9;
}

#signupComplete .welcome-text {
    font-size: 30px;
    font-weight: 700;
    color: var(--red500); 
    letter-spacing: 3px;
}


#signupComplete .goal-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 170px;
    align-items: center;
    justify-content: center;
}

#signupComplete .goal-text-wrapper {
    height: 21px;
    display: flex;
}

#signupComplete .goal-text-wrapper .goal-text-name{
    color: var(--red500);
    font-size: 18px;
    font-weight: 500;
}

#signupComplete .goal-text-wrapper .goal-text {
    color: var(--black100);
    font-size: 18px;
    font-weight: 500;
}


#signupComplete .goal-kcal-wrapper {
    height: 60px;
}

#signupComplete .kcal {
    color: var(--red500);
    font-size: 50px;
    font-weight: 700;
}

#signupComplete .goal-text-sub {
    height: 21px;
}

#signupComplete .goal-text-sub .sub-text {
    color: var(--black100);
    font-size: 18px;
    font-weight: 500;
    height: 21px;
}