#surveyPage {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #f8f8f8;
}

#surveyPage #survey {
    display: flex;
    flex-direction: column;
}

#surveyPage #survey .survey-title {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--black100);
    padding: 30px 16px;
    box-sizing: border-box;
}

#surveyPage #survey .input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#surveyPage #survey .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 10px;
}


.date-picker {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.date-picker .date-box {
    position: relative;
    width: 100%;
    padding: 13px 16px;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
    cursor: pointer;
    color: #999;
}

.date-picker .date-box.valid {
    color: var(--gray500);
    border: 1px solid var(--gray200);
}

.date-picker .date-box .dropdown-item {
    color: var(--black100);
}

.date-picker .date-box.error {
    color: red;
    border : 1px solid red;
}

.date-picker .date-box.selected {
    background-color: #6c757d;
    color: white;
}

.date-picker .dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 16px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.date-picker .dropdown div {
    padding: 13px 10px;
    cursor: pointer;
}

.date-picker .dropdown div:hover {
    background-color: var(--red50);
}

.date-picker .date-box.open {
    border-color: var(--black100); /* 드롭박스가 열리면 테두리 색상을 변경 */
}

.date-picker .date-box.open .dropdown {
    display: block;
}


#surveyPage #survey .input-wrapper .input-label {
    font-size: 14px;
    font-weight: 400;
    color: var(--black100);
    margin-left: 5px;
}

#surveyPage #survey .input-wrapper .input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 20px;
    border-radius: 16px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

#surveyPage #survey .input-wrapper .input.valid {
    color: var(--gray500);
    border: 1px solid var(--gray200);
}

#surveyPage #survey .input-wrapper .input.error {
    color: red;
    border : 1px solid red
}

#surveyPage #survey .input-wrapper .input input {
    width: 100%;
    font-size: 16px;
    color: var(--black100);
    border: none;
    outline: none;
    padding: 0;
}

#surveyPage #survey .input-wrapper .input:focus {
    outline: none;
}

#surveyPage #survey .input-wrapper .input:focus-within {
    border-color: var(--black100);
}

#surveyPage #survey .input-wrapper .input input::placeholder {
    color: #999;  /* 원하는 색상 */
    font-size: 15px;  /* 원하는 크기 */
}

#surveyPage #survey .select-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 10px;
}

#surveyPage #survey .select-container.activity{
    height: 80vh;
}

#surveyPage #survey .select-container .select-item {
    padding: 14px 20px;
    border-radius: 16px;
    border: 1px solid #E8E8E8;
    font-size: 15px;
    color: var(--gray400);
    background-color: var(--white300);
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#surveyPage #survey .select-container .select-item.valid {
    color: var(--red500);
    font-weight: 600;
    border: 1px solid var(--red50);
    background-color: #FFF6F5;
}

#surveyPage #survey .select-container .select-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    background-color: var(--white300);
    box-sizing: border-box;
    padding: 13px 16px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    gap: 6px;
    border-radius: 16px;
}

#surveyPage #survey .select-container .select-wrapper .main-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray400);
}

#surveyPage #survey .select-container .select-wrapper .sub-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #8F8F8F;
}

#surveyPage #survey .select-container .select-wrapper.valid {
    color: var(--red500);
    font-weight: 600;
    border: 1px solid var(--red50);
    background-color: #FFF6F5;
}

#surveyPage #survey .select-container .select-wrapper.valid .main-text {
    color: var(--red500);
    font-weight: 600;
}