#todaysCPF .cpf-title {
    font-size: clamp(16px, 5.336vw, 26.67px);
    font-weight: 600;
    color: var(--black100);
    margin-bottom: clamp(24px, 9.6vw, 48px);
}


#todaysCPF .cpf-target-kcal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: clamp(22.5px, 9.2vw, 45px);
}

#todaysCPF .cpf-target-kcal-wrapper .sub {
    font-size: clamp(11.2px, 3.736vw, 18.67px);
    font-weight: 400;
    color: #929292;
}


#todaysCPF .cpf-target-kcal-wrapper .cpf-target-kcal {
    font-size: clamp(14.4px, 4.8vw, 24px);;
    font-weight: 600;
    color: var(--black100);
}

#todaysCPF .cpf-kcal-bar {
    padding: 0 clamp(10px, 15vw, 85px);
    
}

#todaysCPF .cpf-kcal-bar-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: clamp(195px, 56.5vw, 270px);;
}

#todaysCPF .cpf-kcal-bar-wrapper .cpf-kcal-bar {
    position: absolute;
    z-index: 1;
    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.25));
}

#todaysCPF .cpf-kcal-bar-wrapper .cpf-kcal-bar svg{
    margin-left: clamp(2px, 2vw, 10px);
    width: 100%;
    max-width: 298px;
    min-width: 208px;
}

#todaysCPF .cpf-kcal-bar-wrapper .cpf-kcal-bar.background {
    z-index: 0;
    filter: none;
}

#todaysCPF .cpf-kcal-bar-wrapper .cpf-kcal-consumed-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todaysCPF .cpf-kcal-bar-wrapper .cpf-kcal-consumed {
    font-size: clamp(28px, 8.55vw, 45px);
    font-weight: 500;
}

#todaysCPF .cpf-kcal-bar-wrapper .sub {
    font-size: clamp(14.4px, 4.8vw, 24px);
    font-weight: 300;
    color: var(--gray200);
}
