#withDrawContainer {
    padding: 0 clamp(12.8px, 4.264vw, 21.33px);
}

#withDrawContainer .title-wrapper {
    padding : clamp(24px, 7.87vw, 40px) 0;
    font-size: clamp(19.2px, 6.41vw, 32px);
    font-weight: 600;
}

#withDrawContainer .sub-title-wrapper {
    display: flex; 
    flex-direction: column;
    gap: 30px;
}

#withDrawContainer .sub-title-wrapper .text-wrapper {
    display: flex;
    flex-direction: column;
    font-size: clamp(12px, 4vw, 20px);
    gap: 6px;
}

#withDrawContainer .sub-title-wrapper .text-wrapper .sub-second {
    padding-left: clamp(9px, 2.57vw, 15px);
}


#withDrawContainer .sub-title-wrapper .text-wrapper .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#withDrawContainer .sub-title-wrapper .text-wrapper .wrapper .point{
    width : clamp(2.5px, 1.22vw, 5px);
    height : clamp(2.5px, 1.22vw, 5px);
    border-radius: 20px;
    background-color: black;
    display: flex;
}

#withDrawContainer .sub-title-wrapper .text-wrapper .wrapper .sub{
    padding-left: clamp(4px, 1.87vw, 10px);
}


.withdraw-button-container{
    position: fixed;
    padding: 0 clamp(12.8px, 4.264vw, 21.33px);
    bottom: clamp(70.8px, 17.6vw + 18px, 106px);
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto !important;
}


.cancel-btn{
    display: flex;
        justify-content: center;
        width: 100%;
        font-size: clamp(12.8px, 4.27vw, 21.33px);
        padding: clamp(14.4px, 4.8vw, 24px) 0;
        border-radius: clamp(6.4px, 1.0667vw + 2.2px, 10.67px);
        color: var(--white300);
        background-color: var(--red500);
        cursor: pointer;
}


.withdraw-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: clamp(12.8px, 4.27vw, 21.33px);
    font-weight: 500;
    padding: clamp(14.4px, 4.8vw, 24px) 0;
    border-radius: clamp(6.4px, 1.0667vw + 2.2px, 10.67px);
    color: var(--white300);
    background-color: var(--gray200);
    cursor: pointer;
}

