#gymManagement {
    display: flex;
    flex-direction: column;   
    width: 100%;
}

#gymTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

#gymTable .th-id{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 24px;
    min-width: 150px;
    max-width: 200px;
}

#gymTable .td-id{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 24px;
    min-width: 150px;
    max-width: 200px;
}






#gymTableBody tr {
    cursor: pointer;
}

#gymTableBody tr:hover {
    background-color: #fff7f6;
}









/* gym detail */
#gymDetail {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 37px 30px;
}

#gymDetail .title {
    margin: 0px 0px 10px 0px;
}

#gymDetail .button-wrapper {
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#gymDetail .button-wrapper .button-cancel {
    width: 343px;
}   

#gymDetail .button-wrapper .button-next {
    width: 343px;
}   