#trainerManagement {
    display: flex;
    flex-direction: column;   
    width: 100%;
}

#adminTrainerTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

#adminTrainerTable .th-delete {
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


#adminTrainerTableBody tr {
    cursor: pointer;
}

#adminTrainerTableBody tr:hover {
    background-color: #fff7f6;
}







/*  트레이너 디테일 */

#trainerDetail {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 37px 30px;
}

#trainerDetail .title {
    margin: 0px 0px 10px 0px;
}

#trainerDetail .image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;; 
}

#trainerDetail .image-wrapper .image-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--black100);
}

#trainerDetail .image-wrapper .image {
    width: 80px;
    height: 80px;
}

#trainerDetail .image-wrapper .image img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}


#trainerDetail .gym-type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#trainerDetail .gym-type-wrapper .gym-type-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--blakc100);
}

#trainerDetail .gym-type-wrapper .gym-type-option-wrapper {
    display: flex;
    gap: 10px;
}

#trainerDetail .gym-type-wrapper .gym-type-option {
    background-color: var(--gray10);
    color: var(--gray300);
    border: 1px solid var(--gray300);
    font-size: 16px;
    font-weight: 500;
    padding: 7px 16px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
}

#trainerDetail .gym-type-wrapper .gym-type-option.active {
    background-color: var(--red50);
    color: var(--red500);
    border: 1px solid var(--red500);
}


#trainerDetail .button-wrapper {
    align-items: center;
    justify-content: center;
}

#trainerDetail .button-wrapper .button-cancel {
    width: 343px;
}   

#trainerDetail .button-wrapper .button-next {
    width: 343px;
}   