@media (min-width: 500px) {
    #navBottom {
        max-width: 500px;
        margin: 0 auto !important;
    }
}

#navBottom {
    position: fixed;
    height: auto;
    padding-bottom: calc(env(safe-area-inset-bottom) - 10px) !important;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 993;
    transition: all .3s;
    box-sizing: border-box;
    border-top: 1px solid hsla(0, 0%, 94.5%, .8);
}

#navBottom .nav-bottom-container {
    display: flex;
    flex-direction: row;
    height: clamp(51.4px, 17.07vw, 85px);
    align-items: center;
}

#navBottom .nav-bottom-container .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: clamp(4.8px, 1.6vw, 8px);
    cursor: pointer;
}

#navBottom .nav-bottom-container .item-wrapper .icon {
    display: flex;
}

#navBottom .nav-bottom-container .item-wrapper .icon img {
    width: clamp(15.8px, 5.333vw, 27px);
}

#navBottom .nav-bottom-container .item-wrapper .nav-item-title {
    font-size: clamp(10.4px, 3.467vw, 17.33px);
    font-weight: 400;
    color: var(--gray100);
}

#navBottom .nav-bottom-container .item-wrapper.active .nav-item-title {
    font-weight: 500;
    color: var(--red500);
}