.trainer-table{
    width: 100%;
    border-spacing: 0px;
}

/* table head */
.trainer-table th {
    min-width: 150px;
    padding: 14px 0px;
    background-color: var(--red75);
    border: 0px;
    text-align: left;
    color: var(--black100);
    font-size: 14px;
    font-weight: 700;
}

.trainer-table .th-id{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 24px;
}


.trainer-table .th-account-created-at {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* table data */
.trainer-table td {
    min-width: 150px;
    padding: 0px;
    height: 76px;
    color: var(--black100);
    font-size: 14px;
    font-weight: 500;
}

.trainer-table .td-id{
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.trainer-table .td-account-created-at {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.trainer-table #trainerTableBody tr {
    cursor: pointer;
}

.trainer-table #trainerTableBody tr:hover {
    background-color: #fff7f6;
}

.trainer-table .td-user-profile .td-user-profile-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.trainer-table .td-user-profile .td-user-profile-wrapper .image-user{
    width: 36px;
    height: 36px;
}

.trainer-table .td-user-profile .td-user-profile-wrapper .image-user img{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    object-fit: cover;
}

#trainerTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}
