@import url("/administrate/css/sidebar.css");
@import url("/administrate/css/profilebar.css");
@import url("/administrate/css/title.css");
@import url("/administrate/css/font.css");
@import url("/administrate/css/card-list.css");
@import url("/administrate/css/color.css");
@import url("/administrate/css/dashboard-chart.css");
@import url("/administrate/css/components/searchbar.css");
@import url("/administrate/css/components/filter.css");
@import url("/administrate/css/total-user-table.css");
@import url("/administrate/css/pt-user-table.css");
@import url("/administrate/css/components/custom-alert.css");
@import url("/administrate/css/components/pagination.css");
@import url("/administrate/css/components/user-table.css");

html, body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

#main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#main .content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: var(--red10);
    z-index: 1;
}