#profilebar {
    display: flex;
    justify-content: flex-end;
    height: 44px;
    padding: 12px 60px;
    border-bottom: 1px solid #E7E7E7;
    background-color: var(--white300);
}

#profilebar .profile-wrapper{
    display: flex;
    align-items: center;
}

#profilebar .profile-wrapper .image-profile { 
    width: 44px;
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 14px;
}

#profilebar .profile-wrapper .profile-text-wrapper { 
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    gap: 2px;
}

#profilebar .profile-wrapper .profile-text-wrapper .label-name{ 
    color: var(--balck100);
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

#profilebar .profile-wrapper .profile-text-wrapper .label-role{ 
    color: var(--balck100);
    font-size: 12px;
    font-weight: 400;
}

#profilebar .profile-wrapper .button-profile { 
    width: 18px;
    height: 18px;
}

#profilebar .profile-wrapper .button-wrapper {
    display: flex;
    cursor: pointer;
    position: relative;
}

#profilebar .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 120%;
    right: -10px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.27);
    z-index: 1000;
    padding: 10px 16px;
    gap: 10px;
}

#profilebar .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black100);
    background-color: white;
    width: 140px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
    padding: 10px 0px;
    cursor: pointer;
}

#profilebar .dropdown-menu .dropdown-item:hover{
    background-color: var(--red50);
}