
#sidebar {
    position: relative;
    background-color: var(--white300);
}

#sidebar .sidebar-container {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    gap: 10px;
    border-right: 1px solid #E7E7E7;
    min-width: 10px;
    max-width: 300px;
}

/* 로고 */
#sidebar .logo-wrapper {
    display: flex;
    padding: 22px 24px;
}

#sidebar .logo-wrapper img {
    height: 27px;
}

/* 아이템 */
#sidebar .sidebar-item-wrapper {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 20px;
    cursor: pointer;
    min-width: 242px;
}

#sidebar .sidebar-item-wrapper.user {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
    cursor: pointer;
    min-width: 242px;
}

/* 아이템 */
#sidebar .sidebar-item-container {
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-item-container .sidebar-item-option {
    display: flex;
    padding: 3px 28px;
    margin-left: 25px;
    align-items: center;
    flex: 0.89;
    gap: 27px;
}

#sidebar .sidebar-item-container .sidebar-item-options-wrapper{
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    height: 0px;
    margin-top: 10px;
}

#sidebar .sidebar-item-container .sidebar-item-option .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 0 1.5px var(--gray400); /* 안쪽 1px stroke */
}

#sidebar .sidebar-item-container .sidebar-item-option .label {
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    color: var(--gray400);
}

#sidebar .sidebar-item-container .sidebar-item-option.active{
    color: white;
    font-weight: 500;
    border-radius: 6px;
    background-color: var(--red400);
}

#sidebar .sidebar-item-container .sidebar-item-option.active .dot{
    box-shadow: inset 0 0 0 1.5px var(--white300); /* 안쪽 1px stroke */
}

#sidebar .sidebar-item-container .sidebar-item-option.active .label{
    color: white;
    font-weight: 500;
}

#sidebar .sidebar-item-wrapper .point-rect{
    width: 5px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
}

#sidebar .sidebar-item-wrapper .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 18px;
    flex: 0.9;
    height: 50px;
    gap: 18px;
    border-radius: 6px;
}

#sidebar .sidebar-item-wrapper .sidebar-item:hover {
    background-color: var(--red50);
}

/* 선택된 아이템 스타일 */
#sidebar .sidebar-item-wrapper.active .point-rect {
    background: var(--red600);
}

#sidebar .sidebar-item-wrapper.active .sidebar-item {
    background: var(--red500);
}

#sidebar .sidebar-item-wrapper .sidebar-item .label{
    color: var(--black100);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#sidebar .sidebar-item-wrapper.active .label {
    color: var(--white300);
    font-weight: 700;
}


/* 아이콘들 */
#sidebar .sidebar-item-wrapper .icon-sidebar{
    display: flex;
}

#sidebar .sidebar-item-wrapper .icon-sidebar img{
    width: 24px;
}

/* 디바이더 */
#sidebar .sidebar-item-divider {
    width: 86%;
    height: 1px;
    margin: 9px 18px;
    background: #E7E7E7;
}

#sidebar .resizer {
    width: 10px;
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    box-shadow: none;
    transition: box-shadow .2s ease;
}

#sidebar .resizer:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 26px 0px #e0d8ee;
    cursor: ew-resize;
}
