
table {
    width: 100%;
    border-spacing: 0px;
}


/* table head */
th {
    min-width: 150px;
    padding: 14px 0px;
    background-color: var(--red75);
    border: 0px;
    text-align: left;
    color: var(--black100);
    font-size: 14px;
    font-weight: 700;
}

.user-table .th-id{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 24px;
}

.user-table .th-gym-user {  
    text-align: center;
}

.user-table .th-user-role {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}

/* table data */
td {
    min-width: 150px;
    padding: 0px;
    height: 76px;
    color: var(--black100);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-table .td-id{
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.user-table .td-user-profile .td-user-profile-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-table .td-user-profile .td-user-profile-wrapper .image-user{
    width: 36px;
    height: 36px;
}

.user-table .td-user-profile .td-user-profile-wrapper .image-user img{
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.user-table .td-gym-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-table .td-gym-user .image-gym-user{
    width: 90px;
    height: 27px;
    background-color: var(--gray50);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-table .td-gym-user .image-gym-user img{
    width: 30px;
}

.user-table .td-user-role{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.user-table .td-user-role .user-role-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-table .td-user-role .user-role-button {
    color: var(--white300);        
    height: 27px;
    width: 89px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-table .td-user-role .user-role-button.master {
    background-color: #FD5454;
}
.user-table .td-user-role .user-role-button.admin {
    background-color: #4C4C4C;
}
.user-table .td-user-role .user-role-button.super-user {
    background-color: #D36DAE;
}
.user-table .td-user-role .user-role-button.user {
    background-color: #70BFC4;
}
