#adminFood {
    display: flex;
    flex-direction: column;   
    width: 100%;
}

#adminFoodTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

#adminFoodTable .th-id {
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 100px;
    max-width: 114px;
}

#adminFoodTable .th-is-recommended {
    text-align: center;
}

#adminFoodTable .th-delete {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}

#adminFoodTable .th-food-name {
    min-width: 150px;
    max-width: 150px;
}

#adminFoodTable .th-food-code {
    min-width: 180px;    
}

#adminFoodTable .th-calorie {
    min-width: 90px;
    max-width: 90px;    
}

#adminFoodTable .th-carbo {
    min-width: 100px;
    max-width: 120px;    
}

#adminFoodTable .th-protein {
    min-width: 100px;
    max-width: 120px;    
}

#adminFoodTable .th-fat {
    min-width: 100px;
    max-width: 120px;    
}

#adminFoodTable .th-food-weight {
    min-width: 120px;
    max-width: 120px;    
}



#adminFoodTable .td-id {
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 100px;
    max-width: 114px;
}

#adminFoodTable .td-is-recommended {
    text-align: center;
}

#adminFoodTable .td-delete {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}

#adminFoodTable .td-delete .delete-food-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#adminFoodTable .td-delete .delete-food-button-wrapper .delete-food-button {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray400);
    background-color: var(--gray50);
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 39px;
    border: 1px solid var(--gray300);
}

#adminFoodTable .td-food-name {
    min-width: 150px;
    max-width: 150px;
}

#adminFoodTable .td-food-code {
    min-width: 180px;    
}

#adminFoodTable .td-calorie {
    min-width: 90px;
    max-width: 90px;    
}

#adminFoodTable .td-carbo {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

#adminFoodTable .td-protein {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

#adminFoodTable .td-fat {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

#adminFoodTable .td-food-weight {
    min-width: 120px;
    max-width: 120px;    
}

#adminFoodTable .td-source{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

#adminFoodTable .td-source .source-label{
    padding: 2px 10px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
}
#adminFoodTable .td-source.processed .source-label{
    color: var(--red500);
    border: 1px solid var(--red500);
}
#adminFoodTable .td-source.cooked .source-label{
    color: var(--purple300);
    border: 1px solid var(--purple300);
}
#adminFoodTable .td-source.ingredient .source-label{
    color: var(--blue300);
    border: 1px solid var(--blue300);
}
#adminFoodTable .td-source.custom .source-label{
    color: var(--orange300);
    border: 1px solid var(--orange300);
}



#adminFoodTable #adminFoodTableBody tr {
    cursor: pointer;
}

#adminFoodTable #adminFoodTableBody tr:hover {
    background-color: #fff7f6;
}