#foodDetail {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 37px 30px;
}

#foodDetail .title {
    margin: 0px 0px 10px 0px;
}


#foodDetail .data-type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#foodDetail .data-type-wrapper .data-type-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--blakc100);
}

#foodDetail .data-type-wrapper .data-type-option-wrapper {
    display: flex;
    gap: 10px;
}

#foodDetail .data-type-wrapper .data-type-option {
    background-color: var(--gray10);
    color: var(--gray300);
    border: 1px solid var(--gray300);
    font-size: 16px;
    font-weight: 500;
    padding: 7px 16px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
}

#foodDetail .data-type-wrapper .data-type-option.active {
    background-color: var(--red50);
    color: var(--red500);
    border: 1px solid var(--red500);
}


#foodDetail .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;;
}

#foodDetail .input-wrapper .input-title-wrapper {
    display: flex;
    align-items: center;
}

#foodDetail .input-wrapper .input-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--blakc100);
}

#foodDetail .input-wrapper .input-title.description {
    color: var(--gray300);
}

#foodDetail #description {
    height: 145px;
}
#foodDetail textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray75);
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray200);
}

#foodDetail textarea::placeholder {
    color: var(--gray200);
    font-size: 15px;
    font-weight: 400;
}

#foodDetail .input-wrapper .input-title-unit {
    font-size: 14px;
    font-weight: 400;
    color: var(--blakc100);
}

#foodDetail .input-wrapper input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray75);
    outline: none;
    font-size: 15px;
    font-weight: 500;
}

#foodDetail .input-wrapper input.error {
    border: 1px solid red;
}

#foodDetail .input-wrapper input.valid {
    border: 1px solid var(--gray200);
}

#foodDetail .input-wrapper input::placeholder {
    color: var(--gray200);
    font-size: 15px;
    font-weight: 400;
}

#foodDetail .input-wrapper input:focus{    
    border: 1px solid var(--black100);
}


#foodDetail .unit-option-wrapper {
    display: flex;
    gap: 10px;
}

#foodDetail .unit-option-wrapper .unit-option {
    background-color: var(--gray10);
    color: var(--gray300);
    border: 1px solid var(--gray300);
    font-size: 16px;
    font-weight: 500;
    padding: 7px 16px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
}

#foodDetail .unit-option-wrapper .unit-option.active {
    background-color: var(--red50);
    color: var(--red500);
    border: 1px solid var(--red500);
}

#foodDetail .input-info{
    font-size: 12px;
    font-weight: 400;
    color: var(--gray300);
}



#foodDetail .button-wrapper {
    align-items: center;
    justify-content: center;
}

#foodDetail .button-wrapper .button-cancel {
    width: 343px;
}   

#foodDetail .button-wrapper .button-next {
    width: 343px;
}   
















#foodDetail .toggle-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#foodDetail .toggle-container .toggle-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--blakc100);
}

#foodDetail .toggle-container .toggle-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray400);
}













.toggle-wrapper {
    position: relative;
    width: 58px;
    height: 32px;
    border-radius: 160px;
    background-color: #ddd; /* Default off color */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-wrapper.active {
    background-color: #ED7777; /* Active on color */
  }
  
  .toggle-circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .toggle-wrapper.active .toggle-circle {
    transform: translateX(26px);
  }