#recommendFood {
    display: flex;
    flex-direction: column;   
    width: 100%;
}

#recommendFood .table-title {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 700;
}

#recommendFoodTable100 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

#recommendFoodTable200 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

#recommendFoodTable300 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

.recommend-food-table .th-id {
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 100px;
    max-width: 114px;
}

.recommend-food-table .th-food-name {
    min-width: 130px;
    max-width: 150px;
}

.recommend-food-table .th-food-name {
    min-width: 150px;
    max-width: 150px;
}

.recommend-food-table .th-food-code {
    min-width: 180px;    
}

.recommend-food-table .th-calorie {
    min-width: 90px;
    max-width: 90px;    
}

.recommend-food-table .th-carbo {
    min-width: 100px;
    max-width: 120px;    
}

.recommend-food-table .th-protein {
    min-width: 100px;
    max-width: 120px;    
}

.recommend-food-table .th-fat {
    min-width: 100px;
    max-width: 120px;    
}

.recommend-food-table .th-food-weight {
    min-width: 120px;
    max-width: 120px;    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.recommend-food-table .td-id {
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 100px;
    max-width: 114px;
}


.recommend-food-table .td-food-name {
    min-width: 150px;
    max-width: 150px;
}

.recommend-food-table .td-food-code {
    min-width: 180px;    
}

.recommend-food-table .td-calorie {
    min-width: 90px;
    max-width: 90px;    
}

.recommend-food-table .td-carbo {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

.recommend-food-table .td-protein {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

.recommend-food-table .td-fat {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

.recommend-food-table .td-source {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    min-width: 130px;
    max-width: 150px;
}

.recommend-food-table .td-source .source-label{
    padding: 2px 10px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
}
.recommend-food-table .td-source.PROCESSED .source-label{
    color: var(--red500);
    border: 1px solid var(--red500);
}
.recommend-food-table .td-source.COOKED .source-label{
    color: var(--purple300);
    border: 1px solid var(--purple300);
}
.recommend-food-table .td-source.INGREDIENT .source-label{
    color: var(--blue300);
    border: 1px solid var(--blue300);
}
.recommend-food-table .td-source.CUSTOM .source-label{
    color: var(--orange300);
    border: 1px solid var(--orange300);
}

.recommend-food-table .td-food-weight {
    min-width: 120px;
    max-width: 120px;    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


.recommend-food-table tbody tr {
    cursor: pointer;
}

.recommend-food-table tbody tr:hover {
    background-color: #fff7f6;
}