#userFood {
    display: flex;
    flex-direction: column;   
    width: 100%;
}

#userFoodTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 37px;
}

#userFoodTable .th-id {
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 100px;
    max-width: 114px;
}

#userFoodTable .th-food-name {
    min-width: 200px;
    max-width: 300px;
}

#userFoodTable .th-user-name {
    min-width: 150px;
    max-width: 200px;
}

#userFoodTable .th-calorie {
    min-width: 90px;
    max-width: 140px;
}

#userFoodTable .th-carbo {
    min-width: 100px;
    max-width: 120px;    
}

#userFoodTable .th-protein {
    min-width: 100px;
    max-width: 120px;    
}

#userFoodTable .th-fat {
    min-width: 100px;
    max-width: 120px;    
}

#userFoodTable .th-food-weight {
    min-width: 120px;
    max-width: 120px;    
}

#userFoodTable .th-is-shared {
    min-width: 120px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}



#userFoodTable .td-id {
    padding-left: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 100px;
    max-width: 114px;
}

#userFoodTable .td-food-name {
    min-width: 200px;
    max-width: 300px;
}

#userFoodTable .td-calorie {
    min-width: 90px;
    max-width: 140px;    
}

#userFoodTable .td-carbo {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

#userFoodTable .td-protein {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

#userFoodTable .td-fat {
    min-width: 100px;
    max-width: 120px;    
    color: #949494;
}

#userFoodTable .td-food-weight {
    min-width: 120px;
    max-width: 120px;    
}

#userFoodTable .td-is-shared {
    min-width: 120px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}



#userFoodTable #userFoodTableBody tr {
    cursor: pointer;
}

#userFoodTable #userFoodTableBody tr:hover {
    background-color: #fff7f6;
}